.blogbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}
.header{
    /* border: 2px solid black; */
    /* background-color: rgb(189, 181, 181); */
    background-color: #333;
    color: #fff;
    margin-bottom: 1.1rem;
    width: 100vw;
    text-align: center;
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
}
.blog{
    /* border: 2px solid black; */
    width: 55%;
    height: 100%;
    margin: auto;
}
.buttons{
    /* border: 2px solid black; */
    width: 35%;
    height: 100%;
    margin: auto;
}
.allbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.soundpdf{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
.blogText{
    width:80%;
    margin: auto;
}
/* docs css */

/* .image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-button {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.dropzone {
  background-color: yellow;
  border: 1px dashed black;
  padding: 10px;
  margin: 10px;
} */





/* like dislike */
.like-button.clicked {
    animation: likeAnimation 0.8s ease-in-out;
  }
  
  .dislike-button.clicked {
    animation: dislikeAnimation 0.8s ease-in-out;
  }
  
  @keyframes likeAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislikeAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  